<template id="md-cover">
    <style>
        @import url('../css/main.css');
    </style>
</template>

<script src="http://momentjs.com/downloads/moment.js"></script>
<script>
    // Refers to the "importer", which is index.html
    var thatDoc = document;
    // Refers to the "importee", which is src/hello-world.html
    var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
    // Gets content from <template>
    var mdcovertemplate = thisDoc.querySelector('#md-cover').content;

    class CoverPage extends HTMLElement {
        
        constructor() {
            super();
            var shadow = this.attachShadow({mode: 'open'});
            
           
        }

        connectedCallback() {

            var title = document.createElement('div');
            title.innerHTML = this.getAttribute("title");
            title.className = 'md-cover-title';
            this.shadowRoot.appendChild(title);  
            document.title = this.getAttribute("title");

            var clone = document.importNode(mdcovertemplate, true);
            this.shadowRoot.appendChild(clone);

             var author = document.createElement('md-cover-author');
            author.innerHTML = this.getAttribute("author");
            this.shadowRoot.appendChild(author);
            
            var date    = document.createElement('md-cover-date');
            date.innerHTML = moment().format('MMMM Do, YYYY');
            this.shadowRoot.appendChild(date);
            
            
        }

    }
    window.customElements.define('md-cover', CoverPage);
</script>