<template id="md-formula">
    <img class=md-formula-img/>
    <style>
        p md-formula img{
            height: 15px;
            border: 0;
            vertical-align: middle;
        }
    </style>
</template>

<script>
    // Refers to the "importer", which is index.html
    var thatDoc = document;
    // Refers to the "importee", which is src/hello-world.html
    var thisDoc =  (thatDoc._currentScript || thatDoc.currentScript).ownerDocument;
    // Gets content from <template>
    var mdformula = thisDoc.querySelector('#md-formula').content;

    class MdFormula extends HTMLElement {
        
       constructor() {
            super();
        }

        connectedCallback() {
            var clone = document.importNode(mdformula, true);
            clone.children[0].setAttribute("src",  "http://latex.codecogs.com/svg.latex?" + this.innerHTML);
            this.innerHTML = "";
            this.appendChild(clone);
        }

        

    }
    window.customElements.define('md-formula', MdFormula);
</script>