<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="import" href="./html/md-cover.html">
        <link rel="import" href="./html/md-toc.html">
        <link rel="import" href="./html/md-toc-item.html">
        <link rel="import" href="./html/md-img.html">
 
        <link rel="stylesheet" href="./css/main.css">

        <!--Live reload code-->
  </head>
</html>
    </head>
    <body>
        <!-- Add your site or application content here -->
        {{content}}
    </body>
</html>
