ul[collage] md-img {
    align-self: flex-end;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
}

ul[collage] {
    padding: 0;
    display: flex;
    width: 100%;
    page-break-inside: avoid;
}
