@media screen {
    #markenderContent {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
    body {
        /* padding: 0; */
        padding-left: 26px;
        padding-right: 26px;
        margin: 0;
    }
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

p {
    word-wrap: break-word;
}

table,
th,
td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    page-break-inside: avoid;
}

.task-list-item {
    list-style-type: none;
}

en-todo {
    margin-left: -18px;
    width: 13px;
    height: 13px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
}

@import "acm";
@import "dropbox";
@import "github";
@import "latex";
@import "somnox";
@import "tudelft";
@import "latex-report";
@import "../components/md-toc-item/md-toc-item"