@media screen {
    #markenderContent {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
    body {
        /* padding: 0; */
        padding-left: 26px;
        padding-right: 26px;
        margin: 0;
    }
}

@media print {
    color: var(--md-color, black);
    background-color: var(--md-background, white);

    h1 {
        color: var(--md-h1);
    }

    h2 {
        color: var(--md-h2);
    }

    h3 {
        color: var(--md-h3);
    }

    h4 {
        color: var(--md-h4);
    }

    h5 {
        color: var(--md-h5);
    }

    h6 {
        color: var(--md-h6);
    }

    code {
        color: var(--md-color, black);
    }

    a {
        color: var(--md-a);
    }

    a:visited {
        color: var(--md-a_visited);
    }

    blockquote {
        color: var(--md-blockquote, --md-color);
        border-color: initial;
    }

    pre {
        background-color: var(--md-pre-back);
        border-color: var(--md-pre-border, transparent);
    }

    md-toc-item a {
        color: var(--md-toc-item-color);
    }
}

body.disable_theme {
    color: var(--md-color, black);
    background-color: var(--md-background, white);

    h1 {
        color: var(--md-h1);
    }

    h2 {
        color: var(--md-h2);
    }

    h3 {
        color: var(--md-h3);
    }

    h4 {
        color: var(--md-h4);
    }

    h5 {
        color: var(--md-h5);
    }

    h6 {
        color: var(--md-h6);
    }

    code {
        color: var(--md-color, black);
    }

    a {
        color: var(--md-a);
    }

    a:visited {
        color: var(--md-a_visited);
    }

    blockquote {
        color: var(--md-blockquote, --md-color);
        border-color: initial;
    }

    pre {
        background-color: var(--md-pre-back);
        border-color: var(--md-pre-border, transparent);
    }

    md-toc-item a {
        color: var(--md-toc-item-color);
    }
}

@page {
	margin: var(--page-margin);
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

p {
    word-wrap: break-word;
}

table,
th,
td {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    page-break-inside: avoid;
}

.task-list-item {
    list-style-type: none;
}

en-todo {
    margin-left: -18px;
    width: 13px;
    height: 13px;
    display: inline-block;
    background-size: contain;
    vertical-align: middle;
}

body { }

h1 {
    border: none;
}

@import "vscode";
@import "acm";
@import "dropbox";
@import "github";
@import "latex";
@import "somnox";
@import "tudelft";
@import "latex-report";
@import "../components/md-toc-item/md-toc-item";
@import "../components/md-bib-item/md-bib-item";
@import "../components/md-img/md-img";