@font-face {
    font-family: 'Latin Modern Roman';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-regular.woff') format('woff');
}

@font-face {
    font-family: 'Latin Modern Roman';
    font-weight: bold;
    font-style: normal;
    src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-bold.woff') format('woff');
}

@font-face {
    font-family: 'Latin Modern Roman';
    font-weight: normal;
    font-style: italic;
    src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-italic.woff') format('woff');
}

@font-face {
    font-family: 'Latin Modern Roman';
    font-weight: bold;
    font-style: italic;
    src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmroman10-bolditalic.woff') format('woff');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmmono10-regular.woff') format('woff');
}

@font-face {
    font-family: 'Latin Modern Mono';
    font-weight: normal;
    font-style: italic;
    src: url('https://cdn.rawgit.com/AndrewBelt/WiTeX/master/fonts/lmmono10-italic.woff') format('woff');
}

body.latex.disable_theme {
    --vscode-editor-foreground: black;
    --vscode-editor-background: white;
    --vscode-textLink-foreground: #a00;
    --vscode-textLink-activeForeground: black;
    --md-toc-item-color: black;

    --vscode-textBlockQuote-background: rgb(233, 233, 233);
    --vscode-textPreformat-background: rgb(233, 233, 233);

    table,
    th,
    td {
        border: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
    }

    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        page-break-inside: avoid;
    }
}

//Copy directly from 'disable theme'
@media print {
    body.latex {
        --vscode-editor-foreground: black;
        --vscode-editor-background: white;
        --vscode-textLink-foreground: #a00;
        --vscode-textLink-activeForeground: black;
        --md-toc-item-color: black;

        --vscode-textBlockQuote-background: rgb(233, 233, 233);
        --vscode-textPreformat-background: rgb(233, 233, 233);

        table,
        th,
        td {
            border: 1px solid black;
            padding-left: 5px;
            padding-right: 5px;
        }

        table {
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            page-break-inside: avoid;
        }
        h1 {
            font-size: 25px !important;
        }
    }
}

body.latex {
    // Page Margins
	--mk-margin-top: 80px;
	--mk-margin-bottom: 80px;
	--mk-margin-left: 2.5cm;
	--mk-margin-right: 2.5cm;

    --vscode-editor-font-size: 15px;
    --vscode-editor-font-family: 'Latin Modern Roman', serif;

    //Default Tables
    table,
    th,
    td {
        border: 1px solid black !important;
        padding-left: 5px;
        padding-right: 5px;
    }

    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }

    pre,
    code {
        font-family: 'Latin Modern Mono', monospace !important;
    }

    .break {
        page-break-before: always;
    }

    /* Page Layout */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border: none;
        font-weight: 700;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 19px;
        font-weight: normal;
    }
    h3 {
        font-size: 15px;
    }
    ul {
        list-style: disc;
    }

    /*Katex*/
    .katex {
        font-size: 1em !important;
    }
    /*Extra Items*/
    md-cover {
        margin-top: 150px;
        display: block;
        margin-bottom: 50px;
    }
    md-cover-title {
        font-size: 27px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    md-cover-author {
        margin-top: 15px;
        font-size: 19.5px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    md-cover-date {
        margin-top: 10px;
        font-size: 18px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    /* Md-img */
    md-img.full {
        display: block;
        height: 200mm;
        page-break-after: always;
        page-break-before: always;
    }

    // en-todo {
    //     background-repeat: no-repeat;
    //     background-image: url('./img/checkbox-latex.svg');
    //     margin-bottom: 5px;
    // }
    // en-todo[checked='true'] {
    //     background-image: url('./img/checkbox-latex-checked.svg');
    // }
}