@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

body.somnox.disable_theme {
    --vscode-editor-foreground: black;
    --vscode-editor-background: white;
    --vscode-textLink-foreground: rgb(37, 170, 225);
    --md-h2: #515b69;
    --md-h3: #515b69;
    --md-h4: #515b69;
}

//Copy directly from 'disable theme'
@media print {
    body.somnox {
        --vscode-editor-foreground: black;
        --vscode-editor-background: white;
        --vscode-textLink-foreground: rgb(37, 170, 225);
        --md-h2: #515b69;
        --md-h3: #515b69;
        --md-h4: #515b69;
    }
}

body.somnox {
    // Page Margins
	--mk-margin-top: 80px;
	--mk-margin-bottom: 80px;
	--mk-margin-left: 120px;
	--mk-margin-right: 120px;

    --vscode-editor-font-size: 10pt;
    --vscode-editor-font-family: 'Source Sans Pro', sans-serif;

    //Default Tables
    table,
    th,
    td {
        border: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
    }

    table {
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-family: 'Source Sans Pro';
        font-weight: 300;
    }

    h2 {
        font-weight: 400;
    }

    h3, h4 {
        font-weight: 400;    
    }

    a {
        
        font-weight: 600;
        text-decoration: none;
        /*border-bottom: 1px solid black;*/
    }

    table, th, td {
        border-right: none !important; 
        border-left: none !important;
    }
    .md-toc-item-name {
        font-weight: 400;    
    }

    md-cover {
    margin-top: 150px;
    display: block;
    margin-bottom: 50px;
    }

    md-cover-title {
    font-size: 20pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-weight: 300;
    }

    md-cover-author {
    margin-top: 15px;
    font-size: 13pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }

    md-cover-date {
    margin-top: 10px;
    font-size: 12pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    }

    h1 {
        page-break-before: always;
    }

    // en-todo {
    //     background-repeat: no-repeat;
    //     background-image: url('./img/checkbox-latex.svg');	
    //     margin-bottom: 5px;
    // }

    // en-todo[checked="true"] {
    //     background-image: url('./img/checkbox-latex-checked.svg');
    // }
}