// @font-face {
// 	font-family: 'TUDul';
// 	font-weight: normal;
// 	font-style: normal;
// 	src: url('./fonts/TUDelft-UltraLight.ttf');
// }

@page {
	margin-left: 120px;
	margin-right: 120px;
	margin-top: 80px;
	margin-bottom: 80px; 
    background-color: green;
}

body.tudelft {
    font-family: Arial;
	word-wrap: break-word;
    background-color: white;	
	
	h1,
	h2, 
	h3 {
    	color: rgb(0, 166, 214);
	}
}


