@import './tudelft-basic';

@page :first {
    margin: 0;
}
/** Custom Components **/
body.tudelft {

    md-cover div{
        // background-image: url("./img/tudelft-cover.png");
        background-repeat: no-repeat;
        background-size: 1300px;
        background-clip:  border-box;
        margin-top: -1em;
        margin-left: -8px;
        margin-right: -8px;
        height: 1680px;
    }

    md-cover div::after  { 
        height: 500px;
        width: 300px;
        background-image: url("http://www.tudelft.nl/fileadmin/Files/medewerkersportal/mc/huisstijl/Downloads/TU_Delft_logo_White.png");
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        margin-top: 1500px;
        margin-left: -50px;
        content: "";
    }

    md-cover div md-cover-author {
        position: absolute;
        top: 100px;
        left: 100px;
        color: white;
        font-size: 25pt;
    }

    md-cover div md-cover-title {
        position: absolute;
        color: white;
        font-size: 150pt;
        font-family: 'TUDul';
        width: 1030px;
        padding-right: 150px;
        padding-left: 100px;
        padding-top: 150px;
        background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0));
        padding-bottom: 20px;
    }

    md-cover div md-cover-date {
        visibility: hidden
    }
}